
@{
    ViewData["Title"] = "LikedList";
}

<h1>AllLists</h1>


@foreach (var item in Model)
{
    <book-list list-title="@item.ListTitle" list-description="@item.ListDescription"></book-list>
    foreach (var book in item.Books)
    {
        <book-s book-title="@book.BookTitle" book-author="@book.BookAuthor"></book-s>
    }
}

<!-- Voeg jQuery en SignalR JavaScript-bestanden toe -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/realtime.js"></script>