@{
    ViewData["Title"] = "DeleteLibrary";
}

<h1>Delete Libraries</h1>

@foreach (var item in Model)
{
    <book-list list-title="@item.ListTitle" list-description="@item.ListDescription"></book-list>
    <p>---------------------------------------------</p>
    foreach (var book in item.Books)
    {
        <book-s book-title="Titel: {@book.BookTitle}" book-author="Author: {@book.BookAuthor}"></book-s>
        <p>-----</p>
    }
    <form asp-action="DeleteBookList" asp-controller="Home" method="post">
        <input type="hidden" name="listId" value="@item.Id" />
        <button id="deleteLibraryButton">Delete</button>
    </form>
}