@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <boekenlijst-toevoegen-form></boekenlijst-toevoegen-form>

</div>

<template id="boekenlijst-toevoegen-form-tpl">
    <p>Voeg een boekenlijst toe!</p>
    
    <div id="boekenlijst-gegevens"></div>
</template>

<form asp-controller="Home" asp-action="AddBookList" method="post">
    <label>Titel van jouw boekenlijst:</label>
    <input name="listTitle" type="text" />
    <label>Beschrijving van jouw boekenlijst:</label>
    <input name="listDescription" type="text" />
    <input type="submit" value="AddBookList" />
</form>