@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <boekenlijst-toevoegen-form></boekenlijst-toevoegen-form>

</div>

<template id="boekenlijst-toevoegen-form-tpl">
    <p>Voeg een boekenlijst toe!</p>
    <form>
        <label>Titel van jouw boekenlijst:</label>
        <input name="lijstTitel" type="text" />
        <label>Beschrijving van jouw boekenlijst:</label>
        <input name="lijstBeschrijving" type="text" />
        <button>Toevoegen!</button>
    </form>
    <div id="boekenlijst-gegevens"></div>
</template>