@{
    ViewData["Title"] = "MyLibrary";
}
<hello-world></hello-world>

<div class="text-center">
    @if (Model.Count > 0)
    {
        <p>Jouw boekenlijst:</p>
        <input type="submit" value="VoegBoekToe" id="buttonAddBook" />
    }
    else
    {
        <form asp-controller="Home" asp-action="AddBookList" method="post">
            <p>Voeg een boekenlijst toe!</p>
            <label>Titel van jouw boekenlijst:</label>
            <input name="listTitle" type="text" />
            <label>Beschrijving van jouw boekenlijst:</label>
            <input name="listDescription" type="text" />
            <input type="submit" value="AddBookList" />
        </form>        
    }
    @foreach (var item in Model)
    {
        <book-list list-title="@item.ListTitle" list-description="@item.ListDescription"></book-list>
        foreach (var book in item.Books)
        {
            <book-s book-title="@book.BookTitle" book-author="@book.BookAuthor"></book-s>
        }
    }
</div>



<form asp-controller="Home" asp-action="AddBooks" id="add-books-form" class="addBooksFormInvisible">
    <p>Voeg een boek toe!</p>
    <label>Titel van jouw boek:</label>
    <input name="bookTitle" type="text" />
    <label>Auteur van jouw boek:</label>
    <input name="bookAuthor" type="text" />
    <input type="submit" value="AddBooks" />
</form>
